<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragmentos/head::head}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark ">
        <div class="container-fluid">
          <a class="navbar-brand" href="inicio.html"><img src="m (1).png" alt="" width="70px" height="100%"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="inicio.html"><button>Salir</button></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="adminoOno.html"><button>Cambiar de cuenta</button></a>
              </li>
              
            </ul>
            <form class="d-flex">
              <input   type="text" placeholder="Search">
              <button  type="button">Search</button>
            </form>
          </div>
        </div>
      </nav>
      
      <h2>Servicios y Productos</h2>
      <hr>
      <div class="list-group">
        <a href="añadirServicio.html" class="list-group-item list-group-item-action">Añadir Servicio</a>
        <a href="añadirProducto.html" class="list-group-item list-group-item-action">Añadir Producto</a>
        <a href="editarProducto.html" class="list-group-item list-group-item-action">Editar Producto</a>
        <a href="editarServicio.html" class="list-group-item list-group-item-action">Editar Servicio</a>
        <a href="eliminarProductos.html" class="list-group-item list-group-item-action">Eliminar Producto</a>
        <a href="eliminarServicio.html" class="list-group-item list-group-item-action">Eliminar Servicio</a>
      </div>


    
</body>
</html>