<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragmentos/head::head}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>

</head>

<body>
	<nav class="navbar navbar-expand-sm navbar-dark ">
        <div class="container-fluid">
          <a class="navbar-brand" href="inicio.html"><img src="m (1).png" alt="" width="70px" height="100%"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="inicio.html"><button>Volver</button></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="adminoOno.html"><button>Iniciar Sesion</button></a>
              </li>
              
            </ul>
            <form class="d-flex">
              <input   type="text" placeholder="Search">
              <button  type="button">Search</button>
            </form>
          </div>
        </div>
      </nav>
     <h1>Deseas entrar  como Admi o Usuario?</h1>
     <div class="flex">
        <div class="card" style="width:400px">
            <img class="card-img-top" src="admi.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">ADMINISTRADOR</h4>
              <p class="card-text"></p>
              <a th:href="@{/nuevo}" class="btn btn-primary">Entrar</a>
            </div>
          </div>
          <div class="card" style="width:400px">
            <img class="card-img-top" src="usuario1.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">USUARIO</h4>
              <p class="card-text"></p>
              <a href="VistaFormulario.html" class="btn btn-primary">Entrar</a>
            </div>
          </div>


     </div>
   
    
</body>
</html>