<!DOCTYPE html>
<html lang="es">
<head th:replace="~{fragmentos/head::head}">
  
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark ">
        <div class="container-fluid">
          <a class="navbar-brand" th:href="@{/}"><img th:src="@{/img/m.png}" alt="" width="70px" height="100%"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" th:href="@{/administrador}"><button>Volver</button></a>
              </li>
              
              
            </ul>
            <form class="d-flex">
              <input   type="text" placeholder="Search">
              <button  type="button">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <h2>Añadir Productos</h2>
      <hr>
      <form th:action="${categoria.id != 0} ? @{/editarC/submit} : @{/nuevaC/submit}" th:object="${categoria}" method="post">
        <div class="formu" >
			
			<input th:if="${categoria.id != 0}" type="hidden" name="id" th:field="*{id}" />
            <div >
                <label for="nombre">Nombre</label>
                
            <input type="text" id="nombre" name="nombre" th:field="*{nombre}" placeholder="Indique el nombre de la categoria"  >
            </div>
            <div>
                <label for="imagen">imagen</label>
            <input type="text" id="imagen" name="imagen" th:field="*{imagen}" placeholder="Indique la url de la imagen"  >
            </div>
            
            
           
                <button type="submit" name="Agregar" id="Agregar">Agregar</button>
           
            
            
        </div>
    </form>


    
</body>
</html>