<!DOCTYPE html>
<html lang="ens">
<head th:replace="~{fragmentos/head::head}">
    
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark ">
        <div class="container-fluid">
          <a class="navbar-brand" th:href="@{/}"><img src="m (1).png" alt="" width="70px" height="100%"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="administrador.html"><button>Volver</button></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="adminoOno.html"><button>Iniciar Sesion</button></a>
              </li>
              
            </ul>
            <form class="d-flex">
              <input   type="text" placeholder="Search">
              <button  type="button">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <h2>Rellena tu reserva</h2>
      <hr>
     <form th:action="@{/addReserva/submit}" th:object="${reserva}" method="post">
        <div class="formu">
			<input th:if="${reserva.id != 0}" type="hidden" name="id" th:field="*{id}" />
			<di th:each="usuario : ${usuario}" >
				<h2 >Usuario</h2>
 			<p th:text="${usuario.username}">username</p>
			</di>
            
            <hr>
            <div>
				<label for="servicio">Tipo de servicio</label><select
				th:field="*{servicio}">
				<option value="-1">---</option>
				<option th:each="servicio : ${servicio}"
				th:value="${servicio.id}" th:text="${servicio.nombre}">servicio</option>
					
				</select>
			</div>
             <div>
               <label for="date">fecha de reserva</label>
            <input type="date" name="date" id="date" th:field="*{fecha}">
            </div>
            <div >
             <label for="time">hora de reserva</label>
             <input type="time" name="time" id="time" th:fielf="*{hora}">
            
            </div>
            
           
                <button type="submit" name="reservar" id="reservar">Enviar</button>
           
            
            
        </div>
    </form>

    
</body>
</html>