<!DOCTYPE html>
<html lang="es">
<head th:replace="~{fragmentos/head::head}">
    
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark ">
        <div class="container-fluid">
          <a class="navbar-brand" th:href="@{/}"><img th:src="@{/img/m.png}" alt="" width="70px" height="100%"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" th:action="@{/logout}"><button>Salir</button></a>
              </li>
              
              
            </ul>
            <form class="d-flex">
              <input   type="text" placeholder="Search">
              <button  type="button">Search</button>
            </form>
          </div>
        </div>
      </nav>
      
      <h2>Servicios y Productos</h2>
      <hr>
      <div class="list-group">
        <a th:href="@{/addServ}" class="list-group-item list-group-item-action">Añadir Servicio</a>
        <a th:href="@{/addProd}" class="list-group-item list-group-item-action">Añadir Producto</a>
         <a th:href="@{/listaprod}" class="list-group-item list-group-item-action">Lista de Productos</a>
         <a th:href="@{/listaServicios}" class="list-group-item list-group-item-action">Lista de Servicios</a>
         <a th:href="@{/mostrarFormulario}" class="list-group-item list-group-item-action">Lista Administradores</a>
         <a th:href="@{/nuevo}" class="list-group-item list-group-item-action">Añadir Administrador</a>
         <a th:href="@{/nuevaC}" class="list-group-item list-group-item-action">Añadir Categoria</a>
         <a th:href="@{/listC}" class="list-group-item list-group-item-action">Gestion Categorias</a>
         
      </div>


    
</body>
</html>