<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragmentos/head::head}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carrito</title>

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark ">
        <div class="container-fluid">
          <a class="navbar-brand" href="inicio.html"><img src="m (1).png" alt="" width="70px" height="100%"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
              
              </li>
              <li class="nav-item">
                <a class="nav-link" href="adminoOno.html"><button>Iniciar Sesion</button></a>
              </li>
              
            </ul>
            <form class="d-flex">
              <input   type="text" placeholder="Search">
              <button  type="button">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <h2>Tu compra</h2>
      <hr>
    <table>
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio unitario</th>
                <th>Subtotal</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="element : ${productos.entrySet()}">
                <td th:text="${element.key.nombre}"></td>
               
                <td th:text="${element.key.precio}"></td>
                <td th:text="${element.key.precio * element.values}"></td>
                <td>
                    <a th:href="@{/borrarProd/{id}(id=${producto.id})}">Eliminar</a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Total:</td>
                <td th:text="${total}"></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
   
</body>
</html>


    
</body>
</html>