<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragmentos/head::head}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--Import AOS-->
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>index</title>

</head>

<body>
	<main th:replace="~{fragmentos/main::main}">
		
	</main>
	 <div class="container mt-3">
        
               <h2>Peluqeros</h2>
               <hr> 
        <table class="table" style="color:aliceblue;">
          <thead>
            <tr>
              <th>nombre</th>
              <th>apellidos</th>
              <th>email</th>
            </tr>
          </thead>
          <tbody th:each="empleado : ${lista}">
            <tr>
              <td th:text="${empleado.nombre}">John</td>
              <td th:text="${empleado.apellidos}">Doe</td>
              
              <td th:text="${empleado.email}">john@example.com</td>
             
             
            </tr>
          
          </tbody>
          
        </table>
      </div>
   <footer th:replace="~{fragmentos/footer::footer}">
	   
   </footer>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
    
</body>
</html>