<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragmentos/head::head}">
   
</head>
<body>
    <div class="list-group">
        <a th:href="@{/administrador}" class="list-group-item list-group-item-action"><< Volver a la pagina incial de administrador</a>
</div>
<h2>Lista de Servicios</h2>
    <hr>
    <div class="flex">
        <div class="card" style="width:400px" th:each="servicio : ${lista}">
          <img class="card-img-top" th:src="@{/img/perfil2.png}" alt="Card image">
          <div class="card-body">
            <h4 class="card-title" th:text="${servicio.nombre}" >nombre</h4>
            <h4 class="card-title" th:text="${servicio.precio}" >precio</h4>
            <p class="card-text" th:text="${servicio.descripcion}" >descripcion</p>
            
            <button class="editar"><a  th:href="@{/editarS/{id}(id=${servicio.id})}">Editar</a> </button>
          </div>
        </div>
    </div>
    
</body>
</html>