<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragmentos/head::head}">
   
</head>
<body>
    <div class="list-group">
        <a th:href="@{/administrador}" class="list-group-item list-group-item-action"><< Volver a la pagina incial de administrador</a>
</div>
<h2>Lista de Servicios</h2>
    <hr>
    <div class="flex">
        <div class="card" style="width:400px" th:each="categoria : ${categoria}">
          <img class="card-img-top" th:txt="${categoria.imagen}" alt="Card image">
          <div class="card-body">
            <h4 class="card-title" th:text="${categoria.nombre}" >nombre</h4>
            
            
            <button class="editar"><a  th:href="@{/editarC/{id}(id=${categoria.id})}">Editar</a> </button><button class="borrar"><a href="#" th:href="@{/borrarC/{id}(id=${categoria.id})}">Borrar</a></button>
          </div>
        </div>
    </div>
    
</body>
</html>