<!DOCTYPE html>
<html lang="es">
<head th:replace="~{fragmentos/head::head}">
    
</head>
<body>
    <div class="list-group">
        <a th:href="@{/administrador}" class="list-group-item list-group-item-action"><< Volver a la pagina incial de administrador</a>
</div>
<h2>Listado de Productos</h2>
    <hr>
   <div class="container mt-3">
        
                
        <table class="table table-hover ">
          <thead>
            <tr>
              <th>nombre</th>
              <th>Precio</th>
              <th>descripcion</th>
              <th>color</th>
           
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody th:each="producto : ${lista}">
            <tr>
              <td th:text="${producto.nombre}">John</td>
              <td th:text="${producto.precio}">Doe</td>
              
              <td th:text="${producto.descripcion}">john@example.com</td>
             <td th:text="${producto.color}">john@example.com</td>
              
              <td><button class="editar"><a href="#" th:href="@{/editarP/{id}(id=${producto.id})}">editar</a> </button></button><button class="borrar"><a href="#" th:href="@{/borrarP/{id}(id=${producto.id})}">Borrar</a></button> </td>
             
            </tr>
          
          </tbody>
          
        </table>
      </div>
	
    
</body>
</html>