<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragmentos/head::head}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>

</head>

<body>
	
	<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragmentos/head::head}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>

</head>

<body>
	<nav class="navbar navbar-expand-sm navbar-dark ">
        <div class="container-fluid">
          <a class="navbar-brand" th:href="@{/}"><img th:src="@{/img/m.png}" alt="" width="70px" height="100%"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" th:href="@{/}"><button>Volver</button></a>
              </li>
              
              
            </ul>
            <form class="d-flex">
              <input   type="text" placeholder="Search">
              <button  type="button">Search</button>
            </form>
          </div>
        </div>
      </nav>
      
     <form action="#" th:action="@{/search/submit}" th:object="${searchForm}" method="post">
		 <label for="nombre">Buscar por nombre</label>
		<input type="text" name="nombre" th:field="*{search}" placeholder="Buscar Por Nombre"  style="margin-left: 5%; padding: 4px;" />
		<button class="btn- btn-danger" type="submit"  style="padding: 4px;">
			<span class="glyphicon glyphicon-search"></span>
		</button>
		</form>
		<h2>Listado de productos</h2>
        <hr>
        <button ><a th:href="@{/ordenarPrecioBarato}">por precio más bajo</a> </button>
		 <div class="container mt-3">
        
                
        <table class="table table-hover ">
          <thead>
            <tr>
              <th>nombre</th>
              <th>Precio</th>
              <th>descripcion</th>
              <th>color</th>
              <th>Categoria</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody th:each="producto : ${lista}">
            <tr>
              <td th:text="${producto.nombre}">John</td>
              <td th:text="${producto.precio}">Doe</td>
              
              <td th:text="${producto.descripcion}">john@example.com</td>
             <td th:text="${producto.color}">john@example.com</td>
              <td th:text="${producto.categoria.nombre}">john@example.com</td>
              <td> <button  class="editar" ><a  th:href="@{/prodACarr/{id}(id=${producto.id})}">Comprar</a> </button></td>
             
            </tr>
          
          </tbody>
          
        </table>
      </div>
	
		
    
    
   
	
   
    

    
</body>
</html>