<!DOCTYPE html>
<html lang="es">
<head th:replace="~{fragmentos/head::head}">
  
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark ">
        <div class="container-fluid">
          <a class="navbar-brand" th:href="@{/}"><img th:src="@{/img/m.png}" alt="" width="70px" height="100%"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" th:href="@{/}"><button>Volver</button></a>
              </li>
             
              
            </ul>
            <form class="d-flex">
              <input   type="text" placeholder="Search">
              <button  type="button">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <h2>Registro de Usuario</h2>
      <hr>
      <form id="myForm" th:action=" @{/addC/submit}" th:object="${cliente}" method="post">
        <div class="formu" >
			
			
            <div >
                <label for="nombre">Nombre</label>
                
            <input type="text" id="nombre" name="nombre" th:field="*{nombre}" placeholder="Indique su nombre " required autofocus ><br>
          <p class="validacion" id="errorNombre" style="display: none;" >El nombre no puede contener numeros y debe de tener almenos dos letras</p>
            
          
            </div>
            <div>
                <label for="apellidos">apellidos</label>
            <input type="text" id="apellidos" name="apellidos" th:field="*{apellidos}" placeholder="indique sus apellidos" required autofocus > <br>
            <p class="validacion" id="errorApellidos" style="display: none;" > El campo de apellidos debe contener al menos 2 letras y no debe contener números</p>
             
            </div>
            <div>
                <label for="correo">correo</label>
            <input type="email" id="correo" name="correo" th:field="*{correo}" placeholder="indique su correo" required autofocus >
            <p class="validacion" id="errorCorreo" style="display: none;" >   El campo de correo debe contener "@" </p>
            
            </div>
             <div >
                <label for="nombre">cree un nombre de Usuario</label>
                
            <input type="text" id="nombreU" name="nombreU" th:field="*{username}" placeholder="Indique su nombre de usuario" required autofocus >
               <p class="validacion" id="errorNombreU" style="display: none;" >   El campo de nombre de usuario debe contener al menos 2 letras y debe contener números </p>
             
            </div>
            <div>
                <label for="contraseña">contraseña</label>
            <input type="password" id="contraseña" name="contraseña" th:field="*{password}" placeholder="indique su contraseña"  >
             <p class="validacion" id="errorContraseña" style="display: none;" >  La contraseña debe contener al menos una letra en mayúscula, un número y un caracter especial </p>
            
            </div>
            </div>
            
            
           
                <input type="submit"  id="Agregar" value="Enviar">
           
            
            
        </div>
    </form>
    <script>let form = document.getElementById('myForm');
        let nombreInput = document.getElementById('nombre');
        let apellidosInput = document.getElementById('apellidos');
        let correoInput = document.getElementById('correo');
        let nombreUInput = document.getElementById('nombreU');
        let contraseñaInput = document.getElementById('contraseña');

        let errorNombre = document.getElementById('errorNombre');
        let errorApellidos = document.getElementById('errorApellidos');
        let errorCorreo = document.getElementById('errorCorreo');
        let errorNombreU = document.getElementById('errorNombreU');
        let errorContraseña = document.getElementById('errorContraseña');

      
        form.addEventListener('submit', validarForm);

        function validarForm(){

            // Validar el campo de nombre
          if (nombreInput.value.length < 2) {
            errorNombre.style.display = "inline"
            return event.preventDefault();
          }
      
          // Validar el campo de apellidos
          if (apellidosInput.value.length < 2 ) {
            
            errorApellidos.style.display = "inline"
            return  event.preventDefault() ;
          }
      
          // Validar el campo de correo
          if (!correoInput.value.includes('@')) {
            errorCorreo.style.display = "inline"
            
            return event.preventDefault();
          }
      
          // Validar el campo de nombre de usuario
          if (!/^[a-zA-Z]{3,}\d/) {
            errorNombreU.style.display = "inline"
            
            return event.preventDefault();
          }
      
          // Validar el campo de contraseña
          if (!/(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W)/) {
            errorContraseña.style.display = "inline"
           
            return event.preventDefault();
          }
        }</script>  


    
</body>
</html>