<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragmentos/head::head}">
   
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark ">
        <div class="container-fluid">
          <a class="navbar-brand" th:href="@{/}"><img th:src="@{/img/m.png}" alt="" width="70px" height="100%"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" th:href="@{/}"><button>Volver</button></a>
              </li>
              
              
            </ul>
            <form class="d-flex" action="#" th:action="@{/searchS/submit}" th:object="${searchForm}" method="POST">
              <input   type="text" name="nombre" placeholder="Buscar Por Nombre" th:field="*{search}">
            	 <button  type="button">Search</button>
            </form>
          </div>
        </div>
      </nav>
<h2>Lista de Servicios</h2>
    <hr>
    <div class="container mt-3">
        
                
        <table class="table " style="color:aliceblue;">
          <thead>
            <tr>
              <th>nombre</th>
              <th>Precio</th>
              <th>descripcion</th>
              <th>duracion</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody th:each="servicio : ${lista}">
            <tr>
              <td th:text="${servicio.nombre}">John</td>
              <td th:text="${servicio.precio}">Doe</td>
              
              <td th:text="${servicio.descripcion}">john@example.com</td>
             <td th:text="${servicio.duracion}">john@example.com</td>
             
              <td> <button class="editar" sec:authorize="hasRole('ROLE_USER')"><a th:href="@{/addReserva}">Reserva</a></button></td>
             
            </tr>
          
          </tbody>
          
        </table>
      </div>
      
    
</body>
</html>