<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragmentos/head::head}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>

</head>

<body>
	
	<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragmentos/head::head}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>

</head>

<body>
	<nav class="navbar navbar-expand-sm navbar-dark ">
        <div class="container-fluid">
          <a class="navbar-brand" th:href="@{/}"><img th:src="@{/img/m.png}" alt="" width="70px" height="100%"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" th:href="@{/administrador}"><button>Volver</button></a>
              </li>
             
              
            </ul>
           
          </div>
        </div>
      </nav>
      <div class="container mt-3">
        <h2>Ventas</h2>
                
        <table class="table " style="color:aliceblue;">
          <thead>
            <tr>
              <th>nombre</th>
              <th>Apellidos</th>
              <th>Correo</th>
              <th>Fecha</th>
              <th>Nombre del Producto</th>
              <th>Precio</th>
              <th>Cantidad</th>
            

            </tr>
          </thead>
          <tbody th:each="venta:${ventas}">
            <tr>
              <td th:text="${venta.cliente.nombre}">John</td>
              <td th:text="${venta.cliente.apellidos}">Doe</td>
              <td th:text="${venta.cliente.correo}">john@example.com</td>
              <td th:text="${venta.fecha}">john@example.com</td>
              <td th:text="${venta.total}">john@example.com</td>
             <td th:each="lineaVenta : ${venta.lv}" th:text="${lineaVenta.prod.nombre}"></td>
              <td th:each="lineaVenta : ${venta.lv}" th:text="${lineaVenta.cantidad}"></td>
            
              
        
              
        	  
            </tr>
          
          </tbody>
          <tfoot>
			  <tr>
				  <td>Total Ventas</td>
				  <td th:text="${totalVentas}">0.0</td>
				  
			  </tr>
			  
			  
		  </tfoot>
         
        </table>
      </div>
	
   
    

    
</body>
</html>