<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragmentos/head::head}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/js/validacion.js" th:src="@{/js/validacion.js}"></script>
    <title>formulario</title>
     <script>
      function comprobar() {
        // Obtener los valores de los campos de contraseña
        let password1 = document.getElementById("password1").value;
        let password2 = document.getElementById("password2").value;

        // Comprobar si las contraseñas son iguales
        if (password1 === password2) {
          document.getElementById("mensaje").textContent = "Las contraseñas coinciden.";
        } else {
          document.getElementById("mensaje").textContent = "Las contraseñas no coinciden.";
        }
      }
    </script>

</head>

<body>
	<nav th:replace="~{fragmentos/nav::nav}">
		
	</nav>
	<h2>Agregar un administrador</h2>
	<form th:action="${empleado.id != 0} ? @{/editar/submit} : @{/nuevo/submit}" th:object="${empleado}" method="post" action="#" id="formularioE">
        <div class="formu">
			<input th:if="${empleado.id != 0}" type="hidden" name="id" th:field="*{id}" />
        <div>
            <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" th:field="*{nombre}"  placeholder="Indique su nombre" >
        </div>
        <div>
            <label for="apellidos">Apellidos</label>
        <input type="text" id="nombre" name="apellidos" th:field="*{apellidos}"  placeholder="Indique sus apellidos">
        </div>
        
        <div>
            <label for="email">Email</label> 
        <input type="email" id="email" name="email" th:field="*{email}"   placeholder="Indique su email">
        </div>
        <div>
            <label for="telefono">Telefono</label> 
        <input type="telefono" id="telefono" name="telefono" th:field="*{numTelefono}"   placeholder="Indique su numero de telfono">
        </div>
         <div>
            <label for="username">Username</label>
        <input type="text" id="username" name="username" th:field="*{username}"  placeholder="Indique su username" >
        </div>
         <div>
            <label for="password1">password</label> 
        <input type="password" id="password1" name="password1" th:field="*{password}"   placeholder="Indique su contraseña">
        </div>
         <div>
            <label for="password2">repeatPassword</label> 
        <input type="password" id="password2" name="password2"    placeholder="Repita su contraseña">
        </div>
        
       
         <button onclick="comprobar()" type="submit">Enviar</button>
     <p id="mensaje"></p>
   
  </body>
</html>
        
        
    </div>
         </form>
    
   
    
</body>
</html>