<nav class="navbar navbar-expand-sm navbar-dark " th:fragment="nav">
        <div class="container-fluid">
          <a class="navbar-brand" href="inicio.html"><img th:src="@{/img/m.png}" alt="" width="70px" height="100%"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)"><button>logout</button></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" th:href="@{/nuevo}"><button>Singup</button></a>
              </li>
              
            </ul>
            <form class="d-flex">
              <input   type="text" placeholder="Search">
              <button  type="button">Search</button>
            </form>
          </div>
        </div>
      </nav>