<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Terminado</title>
    <link rel="stylesheet" href="css.css">
</head>
<body>
    <h2>Estos son sus datos</h2>
    <table>
        <tr>
            <td>Nombre</td>
            <td th:text="${usuario.nombre}"></td>
        </tr>
        <tr>
            <td>Apellidos</td>
            <td th:text="${usuario.apellidos}"></td>

        </tr>
        <tr>
            <td>Email</td>
            <td th:text="${usuario.email}"></td>
        </tr>
    </table>
    
</body>
</html>